body {
	margin: auto;
	font-size: 1.2rem;
	font-family: sans-serif;
}
a[href^="#"] {
	text-decoration-style: dashed;
}  

li {
	margin: 10px auto;
	list-style: none;
	position: relative;
}
li::before {
	content: '▶️';
	position: absolute;
	display: inline-block;
	left: -1.8em;
}
li:last-child::before {
	content: '';
	position: absolute;
	display: inline-block;
	left: -1.8em;
}
